@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200&display=swap');
@import "/Style/header.css";
@import "/Style/main.css";
@import "/Style/footer.css";
@import "/Style/Media/phone.css";
@import "/Style/Media/tablet.css";

*{
    
    font-family: "Inter";
   
}
body{ 
    width: 100%;
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
    font-family: "Lato";
    color: black;
}