.header-section-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Assets/Img/banner.coll.jpg);
    margin-bottom: 100px;
    padding: 50px;

}

