/* feature box */

.section-m1{
    margin: 10px 0;
}



#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(245, 242, 242);
}

#feature .fe-box{
    background-color: rgba(252, 250, 250, 0.726);
    width: 150px;
    text-align: center;
    padding: 10px 5px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #b1b0b0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(25, 9, 75, 0.233);
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(14, 82, 59);
    background-color: rgb(231, 203, 168);
}

#feature .fe-box:nth-child(2) h6{
    background-color: rgb(140, 180, 140);
}

#feature .fe-box:nth-child(3) h6{
    background-color: rgb(187, 168, 196);
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgb(191, 216, 150);
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgb(155, 194, 201);
}
#feature .fe-box:nth-child(6) h6{
    background-color: rgb(212, 161, 204);
}

.section-p1{
    padding: 40px 80px;
}


/* featured products */

#product1{
    text-align: center;
    background-color: rgb(245, 242, 242);
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 20%;
    min-width: 250px;
    max-height: 500px;
    padding: 10px 12px;
    border: 1px solid #e7e7cfda;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    background-color: rgba(223, 219, 219, 0.726);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
   
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #383737;
    font-size: 15px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: rgb(22, 22, 22);
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #aec4b1;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}