body{
    width: 100%;
    background-color: rgb(235, 226, 226);
    
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6f3;
    box-shadow: 0 2px 5px rgb(161, 157, 157);
    /* width: 100% auto; */
}
img.logo-img{
    width: 250px;
    margin-top: -10px;
    
    
}



#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3 ease;

}


#navbar li a:hover,
#navbar li a.active{
    color: rgb(209, 170, 61);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(209, 170, 61);
    position: absolute;
    bottom: -4px;
    left: 20px;
}




#client-area{
    text-decoration: none;
}

a#client-area{
    border: 2px solid black;
    padding: 8px;
    font-size: 15px;
    color: black;
    
} 

section.header-section{
  display: flex;
  gap: 300px;
  margin-top: 40px;
  /* width: 100% auto; */
}

h1{
    font-size: 60px;

}
p.header-p{
    text-align: left;
}


a.header-btn-acheter{
font-size: 15px;
color: white;
border: 2px solid black;
background-color: black;
border-radius: 5px;
padding: 10px;
width: 200px;
text-align: center;
display: block;
margin-top: 30px;


}


div.titre{
width: 650px;
margin-left: 80px;

}

img.header-img{
width: 800px;
height: 700px;
border-radius: 0 0 0 100px;
margin-top: 40px;
margin-bottom: 40px;
}
    

