section.new-collection{
background-color: rgb(232, 240, 244);
width: 100% auto;
margin: -8px;
padding-bottom: 150px;
}
h2.new{
    font-size: 35px;
    display: block;
    text-align: center;
    padding-top: 70px;
    
}
p{
    text-align: center;
 
}

figure.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

div.category-product{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

img.category-img{
    width: 342px;
    height: 429px;
    padding-bottom: 50px;
    background-color: rgb(203, 188, 188);
}

a.category-name{
background-color: rgb(158, 147, 147);
padding: 10px;
width: 150px;
margin-top: -30px;
text-align: center;

}


/* Section 2 Meilleure mode */

section.best-mode{
background-color: rgb(245, 242, 242);
margin: -8px;
padding: 100px;
padding-bottom: 150px;
display: flex;
gap: 200px;
}

div.best-mode-left{
width: 500px;
}

img.best-mode-img{
    width: 500px;
    height: 650px;
    border-radius: 100px 0 0 0;
}

div.best-mode-right{
  width: 450px;  
}

h2.meilleure-mode{
    font-size: 60px;
}


ul.about-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 20px;
    background-color: rgb(233, 204, 170);
    width: 400px;
    margin-top: -50px;
    margin-left: 400px;
    position: relative;
    

}

li.list-boutique{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding-right: 10px;
    font-size: 15px;
}

li.list-boutique:last-child {
    border-right: none;
}

span.list-numero{
    font-size: x-large;
    font-weight: bold;
    
}

/* section 3 best seller products */

section.best-products{
    background-color: rgb(140, 140, 140);
    margin: -8px;
    margin-top: -20px;
    display: flex;
    gap: 80px;
    padding-bottom: 50px;
}

div.best-products-left{
    width: 400px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

h2.best-products-h2{
    padding-top: 100px;
    font-size: 60px;
}

p.best-products-p{
    text-align: left;
    margin-top: -20px;
}

a.best-products-link{
    border: 1px solid black;
    width: 100px;
    padding: 10px;
    text-align: center;
}

ul.best-products-lists{
    margin-top: 70px;
    padding-top: 50px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow-x: auto;
    grid-auto-flow: column;

}

li.best-products-list{
    width: 220px;

}

img.best-products-img{
    width: 200px;
    height: 250px;
}

div.best-products-btm{
    padding: 20px;
    background-color: white;
    margin-top: -5px;
    width: 160px;
    
}
/* section 4 Nos Produits */

section.our-products{
    background-color: rgb(210, 193, 193);
    margin: -8px;
    margin-top: -20px; 
    padding: 30px; 
}
h2.our-products-h2{
    text-align: center;
    font-size: 35px;
}
nav.our-products-nav{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 80px;
    background-color: white;
    margin-top: -82px;
    border-radius: 10px;

}

ul.our-products-lists{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: -3px;
    margin-left: 100px;
    gap: 50px;

    
}

/* li.our-products-list{

} */

img.our-products-img{
    width: 200px;
    height: 260px;
}

/* section 5 promo */


section.promo{
 background-color: rgb(208, 214, 223);
 margin: -8px;
 margin-top: -20px;
 padding: 50px;
 display: flex;
 gap: 100px;
 justify-content: center;
}

div.promo-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    gap: 10px;

    
}

h2.promo-h2{
    font-size: 55px;
}
p.promo-p{
    text-align: left;
    margin-top: -20px;
    
}
time.promo-time-list{
    display: flex;
    gap: 15px;
}

span.time{
   
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 15px;
   text-align: center;
    
}

span.promo-time{
   font-size: 42px;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
}

a.promo-link{
    color: white;
    padding: 10px;
    background-color: black;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;

}

img.promo-img{
    width: 500px;
    height: 675px;
}

/* section 6 avis */

section.avis{
    background-color: rgb(217,217,217);
    margin: -8px;
    margin-top: -20px;
    padding-top: 100px;
}

h2.avis-h2{
    font-size: 35px;
    text-align: center;
}

div.avis-div{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow-x: auto;
    grid-auto-flow: column;
}

figure.avis-figure{
    background-color: rgb(204, 184, 184);
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;

   
}

blockquote.avis-blockquote{
   padding-top: 30px;
   text-align: center;
}

span.avis-span{
    font-size: 18px;
    font-weight: bold;
}

p.avis-p{
    font-weight: normal;
}

img.avis-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 130px;
    
}

figcaption.avis-nom{
    text-align: center;
}

ul.img-link-list{
    margin-top: 200px;
    list-style: none;
    display: flex;
    padding-bottom: 20px;
    margin-left: -30px;
}

img.img-link{
    width: 260px;
    height: 300px;
}